---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Stanisław Synowiec | ssynowiec.pl">
  <h1 class="font-spartan">ssynowiec.pl</h1>
  <h2 class="font-quicksand">Stanisław Synowiec</h2>
</Layout>
