---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Stanisław Synowiec | ssynowiec.pl" description="">
  <div class="flex flex-col items-center justify-center">
    <h1
      class="font-spartan text-6xl font-extrabold tracking-[-0.030em] md:text-9xl"
    >
      ssynowiec.pl
    </h1>
    <h2
      class="font-quicksand -mt-3 text-xs tracking-[0.25em] md:-mt-7 md:text-2xl"
    >
      Stanisław Synowiec
    </h2>
  </div>
</Layout>
